.websiteBody{
    margin: 0;
  }.Page{
    display:block;
    margin:auto;
    width:100%;
    height:auto;
    pointer-events:auto;
  }
  .Page-outer{
    pointer-events:none;
    z-index:1;
  }
  .Frame{
    position:relative;
    z-index:2;
    pointer-events:none;
    width:100%;
    margin-left:0;
    height:1024px;
    min-width:200px;
    max-width:1440px;
    margin:auto;
    background-color:#ffffff;
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow:hidden;
  }
  .Frame-outer{
    pointer-events:none;
    z-index:2;
  }
  .Rectangle-1{
    position:relative;
    z-index:3;
    pointer-events:none;
    margin-left:0px;
    width:1440px;
    min-width:1440px;
    height:148px;
    margin-top:0px;
    margin-bottom:876px;
    min-height:148px;
    content:url(assets/images/Rectangle_1.png);
  }
  .Rectangle-1-outer{
    pointer-events:none;
    z-index:3;
    position:relative;
    display:flex;
  }
  .q1{
    position:relative;
    z-index:4;
    pointer-events:none;
    margin-left:56px;
    width:253px;
    min-width:253px;
    margin-top:-983px;
    margin-bottom:939px;
    min-height:44px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Montserrat;
    font-weight:600;
    font-size:36px;
    line-height:44.5px;
  }
  .q1-outer{
    pointer-events:none;
    z-index:4;
    position:relative;
    display:flex;
  }
  .q4{
    position:relative;
    z-index:8;
    pointer-events:none;
    margin-left:1305px;
    width:77px;
    min-width:77px;
    margin-top:-970px;
    margin-bottom:948px;
    min-height:22px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Montserrat;
    font-weight:600;
    font-size:18px;
    line-height:22.5px;
  }
  .q4-outer{
    pointer-events:none;
    z-index:8;
    position:relative;
    display:flex;
  }
  .q5{
    position:relative;
    z-index:7;
    pointer-events:none;
    margin-left:1043px;
    width:74px;
    min-width:74px;
    margin-top:-970px;
    margin-bottom:948px;
    min-height:22px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Montserrat;
    font-weight:600;
    font-size:18px;
    line-height:22.5px;
  }
  .q5-outer{
    pointer-events:none;
    z-index:7;
    position:relative;
    display:flex;
  }
  .q3{
    position:relative;
    z-index:6;
    pointer-events:none;
    margin-left:1173px;
    width:76px;
    min-width:76px;
    margin-top:-970px;
    margin-bottom:948px;
    min-height:22px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Montserrat;
    font-weight:600;
    font-size:18px;
    line-height:22.5px;
  }
  .q3-outer{
    pointer-events:none;
    z-index:6;
    position:relative;
    display:flex;
  }
  .q6{
    position:relative;
    z-index:5;
    pointer-events:none;
    margin-left:168px;
    width:1104px;
    min-width:1104px;
    margin-top:-714px;
    margin-bottom:371px;
    min-height:343px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:rgba(0, 0, 0, 1);
    font-style:normal;
    font-family:Montserrat;
    font-weight:600;
    font-size:72px;
    line-height:88.5px;
  }
  .q6-outer{
    pointer-events:none;
    z-index:5;
    position:relative;
    display:flex;
  }
  