#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 750px;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 0px 0px 0px 150px;
  flex-direction: column;
}

h1{
  margin: 10px 0px 10px 0px;
}

h2{
  margin: 10px 0px 10px 0px;
}

.Space_nav{
  display: flex;
  justify-content: space-evenly;
}

a{
  padding: 10px;
  text-decoration: none;
  color: white;
}

/* a:hover{
  text-decoration: underline;
  text-decoration-color:  #eb9605;
  text-underline-offset: 7.5px;
  transition: 0.3s;

} */

i{
  padding: 7.5px;
}

i:hover{
  color: #eb9605;
}

span{
  text-decoration: underline;
  text-decoration-color:  #eb9605;
  text-underline-offset: 7.5px;

}

svg{
  position: absolute;
  height: 200px;
  left:700px;
  opacity: 75%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eb9605;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Iframe_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 750px;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px 20px 0px 0px;
  flex-direction: column;
}

a#nopad{
  padding-left: 0px;
}